<head>
  <title>Muddy Meteor</title>
  
</head>

<body>
    <div class="main">
         <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="#">Muddy Meteor</a>

            <ul class="nav">
              <li class="active"><a href="#">Game</a></li>
              <!-- <li><a href="#">Editor</a></li> -->
              <li><a href="#">About</a></li>
            </ul>
            {{> playert}}
          </div>
        </div>

        <canvas class="block"></canvas>

        {{> room}}

        {{> console }}
    </div>
    

</body>
